**/node_modules

.env
shared/generated/

server/dist

server/combined.log
server/error.log

.DS_Store
server/src/cors.json
server/src/gcs-credentials.json

# Ignore all log files
*.log

# Ignore analysis results and generated data
scripts/analysis_results.json
scripts/generated_data.json
